//META{"name":"Midnight_Sparkle_backround","description":"A BetterDiscord theme with Midnight Sparkle's silhouette.","author":"Lili5510","version":"1.0"}*//{}



/* Background */

.app {

    background-image: url(https://i.imgur.com/t7Rpijf.png) !Important; 

    background-size:cover !important;

}



/*Transparency*/

#voice-connection, #friends, .friends-header, .friends-table, .guilds-wrapper, .guild-header header, .channels-wrap, .private-channels .search-bar, .private-channels,

 .guild-channels, .account, .friend-table-add-header, .chat, .content, .layers, .title-wrap:not(.search-bar), .messages-wrapper, .messages .divider span, .messages .divider:before, 

 .content, .message-group-blocked, .is-local-bot-message, .channel-members-loading, .channel-members-loading .heading, .channel-members-loading .member, .typing, .layer, .layers, 

 .container-RYiLUQ, .theme-dark .ui-standard-sidebar-view, .theme-dark .ui-standard-sidebar-view .sidebar-region, .theme-dark .ui-standard-sidebar-view .content-region, 

 .theme-dark .channel-members, .layer, .layers {

    background: transparent !important;

}
