//META{"name":"Ponyville","description":"A nice mlp backround.","author":"KarinaAE123","version":"1.0"}*//{}

/*ChannelList*/
.nameDefaultText-QoumjC, .nameDefaultVoice-1swZoh, .nameLockedText-2fGz07, .nameLockedVoice-wNOMNa {
    color: rgba(233, 113, 220, 1);	
}
.nameSelectedText-32NDX5, .nameSelectedVoice-XpjYTw {
    color: rgba(196, 0, 190, 1);
}
.nameMutedText-1YDcP-, .nameMutedVoice-26k4cP {
	color:rgba(194, 105, 231, 1);
}
.nameHoveredText-2FFqiz {
    color: rgba(196, 0, 190, 1);
}
.nameHoveredVoice-TIoHRJ {
    color: rgba(187, 134, 255, 1);
}
.nameLockedText-2fGz07 {
    color: rgba(118, 110, 110, 1);
}
.nameLockedVoice-wNOMNa {
    color: rgba(118, 110, 110, 1);
}


/*Catagories*/
.nameDefault-Lnjrwm {
    color: rgba(35, 102, 83, 1);
}
.nameCollapsed-3_ChMu {
    color: rgba(35, 102, 83, 1);
}
.iconDefault-xzclSQ {
    color: rgba(35, 102, 83, 1);
}
.iconCollapsed-1INdMX {
    color: rgba(35, 102, 83, 1);
}
.iconMuted-Hb4ttQ {
    color: rgba(208, 235, 227, 1);
}
 .nameMuted-1n0LSj {
    color: rgba(118, 110, 110, 1);
}


/*Catagory backgrounds*/
.nameDefault-Lnjrwm {
    background-color: rgba(35, 140, 114, 1);
    border-radius: 10px
	}
.nameCollapsed-3_ChMu {
    background-color: rgba(35, 140, 114, 1);
	border-radius: 10px
}
